*{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    font-family: Pacifico;
}

.navbar-toggler{
    background-color: white;
}

.navbar-brand{
    color: white;
}

.collapse{
    justify-content: center;
}

.fas{
    color: white;
}

.navbar-nav{
    display: flex;
    justify-content: end;
}