{% extends 'index.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% load static %}

{% block content %}
    <div class="main_container mt-2">
        <!-- Left Container -->
        <div class="left-container">

        </div>
        <!-- Center Container -->
        <div class="center-container">
            {% include 'frontend/center-container.html' %}
        </div>
        <!-- Right Container -->
        <div class="right-container">
            {% include 'frontend/right-container.html' %}
        </div>
    </div>
{% endblock %}
